<style>
.btn {
  background-color: white;
  border: none;
  color: black;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: gray;
}
</style>

<h1>Welcome!</h1>

<h3>So glad to have you here!</h3>

<p>This app is a great place for you to easily
store your recipes, edit them on the fly, and delete them when you no longer have
use for them! Have a great time cooking!</p>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<a href="/recipe_app"><button class="btn"><i class="fa fa-home"></i> Return to Main Page</button></a>
