{% extends "recipe_app/base.html" %}
{% block content %}

<div class="container-fluid">
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <form class="container-fluid justify-content-start">
    <a class="navbar-brand" ><h1>What Are We All About?</h1></a>
    <a class="btn btn-outline-primary me-2" type="button" href="/recipe_app"><i class="bi bi-house"></i> Home</a>
    <a class="btn btn-outline-primary me-2 active" type="button" href="/recipe_app/about"><i class="bi bi-info-circle"></i> About</a>
</nav>

<br>
<h1>Welcome!</h1>

<h3>So glad to have you here!</h3>

<p>This app is a great place for you to easily
store your recipes, edit them on the fly, and delete them when you no longer have
use for them! Have a great time cooking!</p>

</div>
{% endblock %}
