<form action="{% url 'recipe_app:edit_recipe' recipe.id %}" method="get">

    <label for="recipe_name"><h1>Edit the recipe name:</h1></label>
    <input type="text" id="recipe_name" name="recipe_name" value="{{ recipe.recipe_name }}" required>

    <br>
   
    <label for="ingredient_list"><h4>Add ingredients to your list of ingredients and quantities, hitting return after each one.</h4></label>
    <textarea id="ingredient_list" name="ingredient_list" rows="5" cols="50">{{ ingredient_list }}</textarea>

    <br>

    <label for="direction_list"><h4>Add directions to your list of directions, hitting return after each one.</h4></label>
    <textarea id="direction_list" name="direction_list" rows="5" cols="50">{{ direction_list }}</textarea>

    <br>
    <br>  

    <input type="submit" value="Submit">

</form>
