<form action="{% url 'recipe_app:edit_recipe' recipe.id %}" method="get">
    <label for="recipe_name">Edit the recipe name.</label><br><br>
    <input type="text" id="recipe_name" name="recipe_name" value="{{ recipe.recipe_name }}">
    <br>
    <br>
    <label for="ingredient_list">Edit your list of ingredients and quantities, hitting return after each one.</label><br><br>
<textarea id="ingredient_list" name="ingredient_list" rows="5" cols="50">{{ ingredients }}
  </textarea>
    <br>
    <br>
    <label for="direction_list">Edit your list of directions, hitting return after each one.</label><br><br>
<textarea id="direction_list" name="direction_list" rows="5" cols="50">{{ directions }}
  </textarea>
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
