<style>

h1 {text-align: center;}

.btn {
  background-color: white;
  border: none;
  color: black;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: gray;
}

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

#myInput {
  background-image: url('https://www.w3schools.com/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% if latest_recipe_list %}
    <br>
    <h1>Welcome to my recipe site! Below is a list of recipes!</h1>
    <input type="text" id="myInput" onkeyup="filter()" placeholder="Search for recipes.." title="Type in a recipe">

    <br>
    <br>

    <div class="dropdown">
      <button class="dropbtn"><i class="fa fa-sort"></i> Sort Recipes </button>
      <div class="dropdown-content">
        <a href="{% url 'recipe_app:index' 'recipe_name' %}">Alphabetical Order</a>
        <a href="{% url 'recipe_app:index' '-recipe_name' %}">Reverse Alphabetical Order</a>
        <a href="{% url 'recipe_app:index' '-pub_date' %}">Most Recently Published</a>
        <a href="{% url 'recipe_app:index' 'pub_date' %}">First Published</a>
      </div>
    </div>
                        

    <ol id=myOL>                       
    {% for recipe in latest_recipe_list %}
        <li><a href="{% url 'recipe_app:recipe_page' recipe.id %}"><button class="btn"> {{ recipe.recipe_name }} </button></a>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        Published: {{ recipe.pub_date }}

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <a href="{% url 'recipe_app:delete_recipe' recipe.id %}"><button class="btn"><i class="fa fa-trash"></i>  Delete Recipe</button></a>
    {% endfor %}
    </ol>
    <br>
    
{% else %}
    <h1>No recipes are available.</h1>
{% endif %}

<a href="/recipe_app/add"><button class="btn"><i class="fa fa-plus"></i> Add Recipe</button></a>

<script>
                          
function filter() {
    var input, filter, ol, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ol = document.getElementById("myOL");
    li = ol.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
