{% extends "recipe_app/base.html" %}
{% block content %}

<div class="container">
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <form class="container-fluid justify-content-start">
    <a class="navbar-brand" >Recipe App</a>
    <button class="btn btn-outline-primary me-2 active" type="button">Home</button>
    <button class="btn btn-outline-primary me-2" type="button">About</button>
    <a class="btn btn-outline-primary me-2" type="button" href="/recipe_app/add">Add Recipe</a>

    <div class="dropdown">
        <button class="btn btn-outline-dark me-2 dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            Sort Recipes
        </button>
          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item" href="/recipe_app/?sort_order=recipe_name">Alphabetical Order</a></li>
            <li><a class="dropdown-item" href="/recipe_app/?sort_order=-recipe_name">Reverse Alphabetical Order</a></li>
            <li><a class="dropdown-item" href=" href="/recipe_app/?sort_order=-pub_date">Most Recently Published</a></li>
            <li><a class="dropdown-item" href="/recipe_app/?sort_order=pub_date">First Published</a></li>
          </ul>
    </div>

    <input type="text" id="myInput" onkeyup="filter()" placeholder="Search for recipes.." title="Type in a recipe">
  </form>
</nav>

{% if latest_recipe_list %}
    <br>
    <h1>Welcome to my recipe site! Below is a list of recipes!</h1>
                
    <ol id=myOL>                       
    {% for recipe in latest_recipe_list %}
        <li><a href="{% url 'recipe_app:recipe_page' recipe.id %}"><button class="btn"> {{ recipe.recipe_name }} </button></a>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        Published: {{ recipe.pub_date }}

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <a href="{% url 'recipe_app:delete_recipe' recipe.id %}"><button class="btn"><i class="fa fa-trash"></i>  Delete Recipe</button></a>
    {% endfor %}
    </ol>
    <br>
    
{% else %}
    <h1>No recipes are available.</h1>
{% endif %}

</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<a href="/recipe_app/add"><button class="btn"><i class="fa fa-plus"></i> Add Recipe</button></a>

<script>
                          
function filter() {
    var input, filter, ol, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ol = document.getElementById("myOL");
    li = ol.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>

{% endblock %}
