<style>
.btn {
  background-color: white;
  border: none;
  color: black;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: gray;
}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<h1>{{ recipe.recipe_name }}</h1>
<ul>

{% if recipe.ingredient_set.all %}
    <h2> Ingredients: </h2>
    <ul>{% for ingredient in recipe.ingredient_set.all %}
        <li>{{ ingredient.ingredient_name }}
        <a href="{% url 'recipe_app:delete_ingredient' recipe.id ingredient.ingredient_name %}"><button class="btn"><i class="fa fa-trash"></i>  Delete Ingredient</button></a></li> 
    {% endfor %}</ul>

{% else %}
    <p>No ingredients are available.</p>
{% endif %}


{% if recipe.direction_set.all %}
<h2> Directions: </h2>
<ol>{% for direction in recipe.direction_set.all %}
    <li>{{ direction.step }}
    <a href="{% url 'recipe_app:delete_direction' recipe.id direction.step %}"><button class="btn"><i class="fa fa-trash"></i>  Delete Direction</button></a></li> 
{% endfor %}</ol>

{% else %}
    <p>No directions are available.</p>
{% endif %}

    
<br><br>
<a href="/recipe_app"><button class="btn"><i class="fa fa-home"></i> Return to Main Page</button></a>
</ul>

